body,div,h1,h2,p{
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}


*{box-sizing: border-box;}



.about_wrapper{
    height:250vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.9);
}



.title1{
    color:blueviolet;
    flex-basis: 100vw;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}



.content1{
    padding: 3vh 25vw;
    text-align: center;
    margin-bottom: 30vh;
    line-height: 5vh;
    color:white;
}




.title2{
    color:blueviolet;
    flex-basis: 100vw;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}



.content2{
    padding: 3vh 25vw;
    text-align: center;
    margin-bottom: 30vh;
    line-height: 5vh;
    color: white;
}




.title3{
    color:blueviolet;
    flex-basis: 100vw;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}



.content3{
    padding: 3vh 25vw;
    text-align: center;
    margin-bottom: 30vh;
    line-height:5vh;
    color:white;
}


.follow{
    color:blueviolet;
    flex-basis: 100vw;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6vh;
}



.social{
    flex-basis: 100vw;
    font-size: 2em;
    text-align: center;
}




