div,body{
    margin: 0px;
    padding:0px;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}


*{
    box-sizing: border-box;
}




.container{
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}







label{
    color:white;
    text-align: center;
    font-size: 3em;
    margin: 0 0 10vh 16vw;
    display: inline-block;
    text-transform: capitalize;
}



input[type=text]{
    width: 25vw;
    height: 9vh;
    border:none;
    outline:none;
    font-size: 1em;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 5vh;
}





input[type=email]{
    width: 50.5vw;
    height: 9vh;
    border:none;
    outline:none;
    font-size: 1em;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 5vh;
}





/* input[type=text]{
    width: 51vw;
    height: 8vh;
    border:none;
    outline:none;
    font-size: 1em;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 5vh;
} */







textarea{
    width: 50.5vw;
    height: 30vh;
    border:none;
    outline:none;
    font-size: 1em;
    resize: none;
    font-size: 1em;
    border-radius: 20px;
    margin-bottom: 5vh;
    padding:20px  0px 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
}






input[type=submit]{
    width: 50.5vw;
    height: 12vh;
    border:none;
    outline:none;
    color:white;
    text-align: center;
    font-size: 1.3em;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: green;
    transition: all ease 0.5s;
}





input[type=submit]:hover{
    background-color: forestgreen;
}