/* Reset CSS */

body,
div,
h2,
h3,
h2,
ul,
p,
li {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}


*{
    box-sizing: border-box;
}



  /* FORM CONTAINER. */
  .form_container {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../IMAGES/BACKGROUND/mainbg2.jpg);
  }





   .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
} 
  







.form{
    width:30vw;
    height: 80vh;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
} 






  .title1{
      color:black;
      display: block;
      font-size: 3em;
      text-align: center;
      margin-bottom: 5vh;
  }





  input[type=text]{
      width: 22vw;
      height: 9vh;
      outline:none;
      padding-left: 20px;
      border-radius: 5px;
      font-size: 1.3em;
      margin-bottom: 6vh;
      border: 1px solid #ccc;
  }




  input[type=password]{
      width: 22vw;
      height: 9vh;
      outline:none;
      padding-left: 20px;
      border-radius: 5px;
      font-size: 1.3em;
      margin-bottom: 7vh;
      border: 1px solid #ccc;
  }





  input[type=submit]{
      color:white;
      width: 22vw;
      height: 9vh;
      border:none;
      outline: line;
      font-size: 1.3em;
      cursor: pointer;
      border-radius: 5px;
      background-color: dodgerblue;
      transition: all ease-in-out 0.5s;
  }




  input[type=submit]:hover{
      background-color: rgb(4, 52, 100);
  }





  .title2{
    color:black;
    display: block;
    font-size: 1em;
    text-align: center;
    margin-top: 3vh;
  }




  .title2 a{
    color:dodgerblue;
    text-decoration: underline;
  }



  .title2 a:hover{
    color: rgb(8, 42, 77);
  }